@page "/autocomplete"
<h3>AutoCompleteText</h3>
<EditForm Model="@newReview" OnValidSubmit="@InsertNewRecipe">

</EditForm>

    @code {
        [Parameter]
        private string myText { get; set; }
    }
