@page "/"
@inherits Models.RecipeListBase
<h3>Recipes</h3>
<LoadingElement />
@if (Error != null)
{
    <ErrorNotification ErrorMessage="This is a sample error message. Please visit the support page if you need further help. " />

}
<div style=" min-width: 18rem; max-width: 30.5%">
    <a href="/Recipe" class="No-Decoration ">
        <div class="RecipeCard">
            <div class="card m-3">
                <div class="card-header No-Decoration ColourBlack">
                    <h1>Apple Amber </h1>

                </div>
                <div class="card-body No-Decoration ColourBlack">
                    <p>Cooking time: 40 minutes </p>
                    <p>Preperation time: 10 mintues</p>
                    <p>Reviews: ⭐⭐⭐⭐⭐</p>
                </div>
            </div>
        </div>
    </a>
</div>


@code {

    private bool isVisible = true;
    private string wordClassModifier = "";


    private void OnMouseDown()
    {
        wordClassModifier = "wordblock__word-shrinked";
    }

    private void OnMouseUp()
    {
        isVisible = false;
    }

    private void OnMouseOut()
    {
        wordClassModifier = "";
    }
}
