@page "/"


<div class="container col-12" style="max-width: 1218px">
    <h3>A kind reminder you are <em>WASTING YOUR TIME</em></h3>
    <div class="row">
        <div class="col-1">
            <p>Life</p>
        </div>
        <div class="col-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width:@percent">
                    <span class="sr-only">@percent</span>
                    @percent
                </div>

            </div>
        </div>
        <div class="col-1">
            <p>Death (82 Years)</p>
        </div>

        <br />
        <div class="col-8">
            <table class="table table-striped line-height:1.4">
                <tbody>
                    <tr>
                        <td width="75%">Hours In a day</td>
                        <td width="25%">24</td>

                    </tr>
                    <tr>
                        <td width="75%">Hours awake in a day</td>
                        <td width="25%">15</td>

                    </tr>
                    <tr>
                        <td width="75%">Free time every day</td>
                        <td width="25%">9</td>

                    </tr>
                    <tr>
                        <td width="75%">Shortest day</td>
                        <td width="25%">7:50-16:00 (8:10)</td>

                    </tr>
                    <tr>
                        <td width="75%">Average human lifespan</td>
                        <td width="25%">82 years</td>

                    </tr>
                    <tr>
                        <td width="75%">Human liftime in hours</td>
                        <td width="25%">718320</td>

                    </tr>
                    <tr>
                        <td width="75%">Minutes in a day</td>
                        <td width="25%">1440</td>

                    </tr>
                    <tr>
                        <td width="75%">Seconds in a day</td>
                        <td width="25%">68400</td>

                    </tr>


                </tbody>
            </table>
        </div>
        <h3>Your goal is to live 5 minutes away from a mountain bike trail...... so go out and do it!</h3>

    </div>
</div>

@code { 
    public double percent;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DateTime birthDate = new DateTime(2004, 4, 25);

        DateTime TodayDate = DateTime.Now;
        var numberOfDays = (TodayDate- birthDate).TotalDays;

        var lifespanOfHuman = 82 * 365;
         percent = (numberOfDays / lifespanOfHuman) * 100;
    }




}
