@page
@model BlazorCookieAuth.Server.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}
@*<div class="content px-4">
    <div style="max-width: 1218px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; ">
        <input type="text"
               placeholder="User Name"
               asp-for="Member.PersonId" />
        &nbsp;&nbsp;
        <input type="password"
               placeholder="Password"
               asp-for="Member.PersonId" />

        <btn class="btn btn-primary">Login</btn>
    </div>
    <h2>Login</h2>*@
    
