@page "/Recipe"
<h3>Apple Amber</h3>

<h5>Serves 4</h5>
<div class="container-fluid">
    <div class="IngredientsTitle">
        Ingredients
    </div>
    <div><a href="/uploads/Apple Amber.docx" class="btn btn-primary">Download</a></div>
    <div class="IngredientsList">
        <ul>
            <li><em>750g</em> cooking apples</li>
            <li><em>100g</em>caster Sugar</li>
            <li><em>2</em> eggs</li>
        </ul>
    </div>
    <div class="MethodList">
        <ol>
            <li>Prepare an oven, Gas 3 or 170°C.  Grease the sides of the oven proof dish.</li>
            <li>Peel and slice the apples.  Put into a medium saucepan with 2 tbsp of water and cook over low heat until soft.  </li>
            <li>Separate the eggs (break the egg onto a saucer and place an egg cup over the yolk, pour the white into a large bowl).    </li>
            <li>Add the egg yolks to the cooked apple and stir well.</li>
            <li>Put the apple into the oven proof dish</li>
            <li>Whisk egg whites until stiff. Add half the sugar and whisk again until mixture stands in peaks.    </li>
            <li>Fold in the rest of the sugar and spoon or pipe onto the apple.  </li>


        </ol>
    </div>

    Note:
    •	it is important to make sure that the meringue is well baked to kill salmonella bacteria.  If possible check with a temperature probe.
    •	separate eggs carefully because the slightest trace of yolk will prevent the egg whites from whisking.

    Variations:
    •	use other varieties of fruit, for example rhubarb or plums.
    •	could be cooked in a pastry case.

</div>

@code {

}
