@page "/support"
<h3>SupportPage</h3>
<p> This software was cobbled together as part of a Computer Science NEA project. There are a plethora of bugs in it. You can report bugs on the GitHub page for the project <a href="https://github.com/EdwardCalvert/prRecipieDatabase/issues">https://github.com/EdwardCalvert/prRecipieDatabase/issues</a> </p>

@code {

}
