
@page "/fileupload"
@using System.IO
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<h3>UploadFilesToTheWebServer</h3>
<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <br /><br />
    <button type="submit">Upload Selected File(s)</button>
    <p>@Message</p>
</form>



@code {
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;
    const int largestFileSize = 512000000;

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnSubmit()
    {

        foreach (var file in selectedFiles)

        {

            await using FileStream fs = new($"{env.WebRootPath}\\uploads\\{file.Name}", FileMode.Create);
            await file.OpenReadStream().CopyToAsync(fs);

        }
        Message = $"{selectedFiles.Count} file(s) uploaded on server";
        this.StateHasChanged();
    }
}
