@if (Show)
{
    <div class="wordblock__container ">
        <span class="wordblock__word @wordClassModifier"> ⚠ @ErrorMessage </span>
        <span class="wordblock__x"
              @onmousedown='(_=>OnMouseDown())'
              @onmouseup="(_=> OnMouseUp())"
              @onmouseout="(_=>OnMouseOut())">✕</span>
    </div>
}
@code {
    [Parameter]
    public bool Show { get; set; } = true;
    [Parameter]
    public string ErrorMessage { get; set; }
    private string wordClassModifier = "";
    private void OnMouseDown()
    {wordClassModifier = "wordblock__word-shrinked";}
    private void OnMouseUp(){Show = false;}
    private void OnMouseOut(){wordClassModifier = "";}
}