@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <!-- BLAZOR COOKIE Auth Code (begin) -->
            <LoginControl />
            <!-- BLAZOR COOKIE Auth Code (end) -->
        </div>

        <div class="content px-4">
            <div style="max-width: 1218px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; ">
                @Body
            </div>
        </div>
    </div>
</div>
