@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <b>Hello, @context.User.Identity.Name!</b>
                    <a class="btn btn-primary"
                       href="/logout?returnUrl=/"
                       target="_top">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            <div style="max-width: 1218px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; ">
                @Body
            </div>
        </div>
    </div>
</div>
