<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Project Chili</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="NavigateHome" Match="NavLinkMatch.All" href="">
                <span class="oi oi-home" aria-hidden="true"  ></span> Home
            </NavLink>
        </li>
       
    </ul>

    
    <AuthorizeView Roles="Administrator">
        <hr />
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/createRecipe">
                    <span class="oi oi-plus" aria-hidden="true"></span>Create Recipe
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/support">
                    <span class="oi oi-link-broken" aria-hidden="true"></span>Support Page
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/upload/word">
                    <span class="oi oi-data-transfer-upload" aria-hidden="true"></span>Upload Docx
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/home">
                    <span class="oi oi-browser" aria-hidden="true"></span>Admin Interface
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/bulkview">
                    <span class="oi oi-list" aria-hidden="true"></span>Bulk Recipe Viewer
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/usermanager">
                    <span class="oi oi-person" aria-hidden="true"></span>User Manager
                </NavLink>
            </li>
        </ul>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


        @inject NavigationManager NavigationManager;

    private void NavigateHome()
    {
        NavigationManager.NavigateTo("", true);
    }
    private void NavigateToSearch()
    {
        NavigationManager.NavigateTo("search", true);
    }
}
