@if (Models.Review.ReturnStars(DisplayReviewModel) == "")
{
    @*<p>No ratings yet.</p>*@
}
else
{
    <p>@TitleText @Models.Review.ReturnStars(DisplayReviewModel)</p>}

@code {
    [Parameter]
    public List<Review> DisplayReviewModel { get; set; }

    [Parameter]
    public string TitleText { get; set; }
}
