@if (Models.Review.ReturnStars(DisplayReviewModel) == "")
{
    <p>No ratings yet.</p>
}
else
{
    <p>Reviews: @Models.Review.ReturnStars(DisplayReviewModel)</p>}

@code {
    [Parameter]
    public List<Review> DisplayReviewModel { get; set; }
}
