@using System.Text.RegularExpressions
@inject IRecipeDataLoader dataLoader
@page "/dev"
@foreach(Recipe recipe in results)
{
    <p>Cooking time:</p>
    @recipe.CookingTime;
    @recipe.RecipeName;
}

@code{    
    
    protected override Task OnInitializedAsync()
        {
        Search();
            return base.OnInitializedAsync();
        }
    List<Recipe> results = new();

    public async void Search()
    {
        results = await SearchEnginge.SearchForRecipes(dataLoader, "cheese", SearchEnginge.SortBy.CookingTime,SearchEnginge.Order.Descending);
    }

}