@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.TextBox{
    width:200px;
    max-width:400px
}

.FoodLabelTable {
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
}

.FoodLabelTd {
    width: 16.5%;
    border: 2px solid black;
}

.FoodLabelNutrientTitle {
    margin-bottom: 0;
}
.FoodLabelNutrientValue{

}

.FoodLabelServingTitle{
    text-align:left;
}

.FoodLabel{
    display: flex;
}

.FoodLabelTableIcon {
    height: 15px;
    border: 2px solid black;
}

.FoodLabelContainer {
    border-radius: 25px;
    border: 2px solid black;
    padding: 8px;
    width: 60px;
    height: 72px;
    display: block;
    text-align: center;
}

.FoodLabelContainerGreen {
    background: #87c165;
}

.FoodLabelContainerRed {
    background: #e25632;
}

.FoodLabelContainerYellow {
    background: #f1ad4b;
}

.TextBoxLong {
    width: 800px;
    max-width: max-content;
}

.IngredientsTitle{

}
.IngredientsList{

}
.MethodList{

}

.EquipmentList{

}
.No-Decoration, .No-Decoration:hover {
    text-decoration: none;
    border: none;
}

.ColourBlack{
    color: black;
}

.InputField40Percent{
    width: 40vw;
    max-width: 400px;
}

.TimeInputField, .QuantityInputField{
    width: 50px;
}
.InputLableContainer {
    padding-right: 5px;
}
.InputFieldContainer{
    padding-right: 5px;
    padding-bottom: 5px;
}
.ReviewCard {
    background-color: #f1f1f1;
    border: 20px solid #f1f1f1 !important;
    margin-bottom: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    margin-top: 7px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 2px;
    background-color: #737272;
    -webkit-transition: .7s;
    transition: .7s;
    width: 62px;
    height: 29px;
}

    .slider:before {
        position: absolute;
        content: "\2716";
        text-align: center;
        color: dimgrey;
        height: 25px;
        width: 25px;
        left: 2px;
        bottom: 2px;
        padding-top: 1px;
        background-color: white;
        -webkit-transition: .8s;
        transition: .8s;
    }

input:checked + .slider {
    background-color: limegreen;
}

    input:checked + .slider:before {
        -webkit-transform: translateX(33px);
        -ms-transform: translateX(33px);
        transform: translateX(33px);
        content: "\2714";
        text-align: center;
        color: dodgerblue;
    }

.slider.round {
    border-radius: 20px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.RecipeCard {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1 !important;
    margin-bottom: 30px;
    height: calc(100% - 30px);
}

    .RecipeCard:hover {
        animation-name: EventCardHover;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
@keyframes EventCardHover {
    from {
    }

    to {
        background-color: white;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
}
.RecipeCard div {
    padding-bottom: 10px;
}

/*Field form- borrowed from Winscouts.org*/
.FieldHeader {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    text-align: left;
    text-decoration: underline;
    font-weight: 700;
}
.FormViewFieldLineSpacer {
    width: 100%;
    height: 10px;
}
.FieldLine {
    margin-right: -15px;
    margin-bottom: 3px;
    padding-right: 15px;
}
.FieldData {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    display: flex;
    padding-top: 5px;

}
    .FieldData ::after, ::before {
        box-sizing: border-box;
    }
.FieldLine ::after ::before {
    box-sizing: border-box;
}

/*Popup begin*/
.wordblock__container {
    display: inline-flex;
    position: fixed;
    top: 10%;
    right: 0px;
    z-index: 10000;
    top: 100px;
    transform-origin: right;
    animation: growing 0.4s ease-out forwards;
}

.wordblock__word {
    flex: 1;
    color: white;
    background-color: red;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px 0px 0px 3px;
    
}

.wordblock__word-shrinked {
    transform-origin: right;
    animation: shrinking 0.1s ease-out forwards;
}

@keyframes shrinking {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.0);
    }
}
@keyframes growing {
    0% {
        transform: scaleX(0.0);
        
    }

    100% {
        transform: scaleX(1);
    }
}


.wordblock__x {
    width: 4em;
    background-color: red;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
    user-select: none;
    padding-left: 5px;
}

    .wordblock__x:hover {
        background-color: gray;
    }
/*Popup End*/

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
