@page "/createRecipe"
    <h3>CreateNewRecipe</h3>
<p>Use this page to create a new recipe. All fields are required. </p>
<p>If the ingredients or method are invalid, you may need to delete blank rows.</p>
<RecipeForm mode="RecipeForm.MODES.Create"/>


    @code {




    }
