@page "/admin/support"
<h3>SupportPage</h3>
<p> This software was cobbled together as part of a Computer Science NEA project. 
    <hr/>
    So it is no supprise that there are loads of bugs in it. I don't really have plans to develop the software futher, but can probably fix any issues you find with the existing code base. 
    
    <hr/>
    
    If you are a keen C# developer, why not take a peak at the source code- here on Github<a href="https://github.com/EdwardCalvert/prRecipieDatabase/issues">https://github.com/EdwardCalvert/prRecipieDatabase/issues</a> </p>

@code {

}
